.Footer {
   color: #757575;
   font-size: 1rem;
   background: black;

   p {
      max-width: 900px;
      margin: auto;
      padding: 4rem 0 2rem;

      @media (max-width: 950px) {
         width: 80%;
      }
   }

   nav {
      max-width: 900px;
      margin: auto;
      display: flex;
      justify-content: space-between;

      @media (max-width: 950px) {
         width: 80%;
      }

      @media (max-width: 740px) {
         flex-wrap: wrap;
      }

      ul {
         list-style: none;

         li {
            font-size: 13px;
            margin-bottom: 1rem;
            a {
               text-decoration: none;
               color: #757575;

               &:hover {
                  text-decoration: underline;
                  cursor: pointer;
               }
            }
         }
      }
   }

   .language {
      max-width: 900px;
      margin: auto;
      border-bottom: 1px solid #222;

      @media (max-width: 950px) {
         width: 80%;
      }
      label {
         display: inline-block;
         margin: 2rem 0 1.5rem;
         select {
            outline: none;
            display: inline-block;
            padding: 0.7rem 0.5rem;
            color: #999;
            font-size: 1rem;
            background: black;
            background-image: none;
            cursor: pointer;
         }
      }
   }
}
